/* CSS Document */
.adminbtns{
	float:left;
	clear:both;
	border-radius:3px;
	color:#ffffff;
	background-color: #8bb1ef;
	border-color: #8bb1ef;
	width:100%;
	margin:10px 0px;
	font-size: 18px;
	font-weight:normal;
}
#adminTitle{
	float:center;
	color:red;
	text-decoration: underline;
	top:37px;
	position:relative;
	
	
}
.BgContainer{
	height:1000px;
}
#usiLogo{
	float:left;
	
}
/*-----------------css for admin_add, edit, and delete colleges and majors---------------------*/
.question{
	padding:10px;
	background-color: #98d4c6; 
	color:black;
	text-align:center;
	font-size:20px;
	border-bottom:black ridge;
	border-width:1px;
	}
	.answer{
	background-color:#f2f2f2;
	padding:10px;
	text-align:left;
	font-size: 25px;
	border-bottom:black ridge;
	border-width:1px;
	}
	
	#dropDownFAQs{
		float:left;
		width:100%;
		text-align:center;
		position:relative;
		top:-15px;
	}
	/* .changeCollege{
		
		float:left;
		border-style:solid;
		border-color:red;
	}
	.changeMajor{
		
		float:left;
		border-style:solid;
		border-color:red;
	} */
	/*------------------------------------*/
