/* CSS Document */
/*-----------------css for admin.html---------------------*/
.adminbtns{
	float:left;
	clear:both;
	border-radius:3px;
	color:#ffffff;
	background-color: #8bb1ef;
	border-color: #8bb1ef;
	width:100%;
	margin:10px 0px;
	font-size: 18px;
	font-weight:normal;
}
#adminTitle{
	float:center;
	color:red;
	text-decoration: underline;
	top:37px;
	position:relative;
	
	
}
.BgContainer{
	height:1000px;
}
#usiLogo{
	float:left;
	
}
/*-----------------css for admin_add, edit, and delete colleges and majors---------------------*/
.accordianbtns{
	width:50%;
	float:left;
	clear:both;
	border-radius:3px;
	color:#ffffff;
	background-color: #8bb1ef;
	border-color: #8bb1ef;
	margin:10px 0px;
	font-size: 18px;
	font-weight:normal;
}
#accordion h5{
	float:left;
	clear:both;
}
#accordion select{
	float:left;
	clear:both;
}
/*-------------------------runsql css------------------------------------------------------*/
#insertSql{
	margin: 10px 0px;
	}